@*
    //Author: Gustavo Moises (Developer)/Jessy Perreault (Web Designer)
    //Date: 8/7/2020
    //Thead Project PROJ—207-OOS
*@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        <li>Developed by Gustavo Moises - gustavomoises@yahoo.com</li>
        <li>Web designed by Jessy Perreault</li>
    </ul>
</div>